<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
</head>

<body>
    <div class="profile">
        <h2 class="profile__heading heading">Welcome, {{ .fullName }}</h2>
        <p class="profile__detail profile__detail--first">
            <strong>Registered Email:</strong> {{ .email }}</p>
        <p class="profile__detail">
            <strong>Alternate Email:</strong> {{ .contactEmail }}</p>
        <p class="profile__detail">
            <strong>Address:</strong> {{ .address }}</p>
        <p class="profile__detail profile__detail--last">
            <strong>Phone:</strong> {{ .phone }}</p>

        <button type="submit" class="button button--primary">
            <a href="/profile">Edit Profile</a>
        </button>
        <button type="submit" class="button button--default">
            <a href="/logout">Log Out</a>
        </button>
    </div>
</body>

</html>